#*
 * Copyright 2013–2025 Michael Osipov
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#

                            ----------------------
                         Using DirContextSourceFactory
                            ----------------------
                               Michael Osipov
                            ----------------------
                                 2013-02-02
                            ----------------------

#set($ellipsis = $esc.unicode('\u2026'))

Using DirContextSourceFactory

  Have you ever wondered why it is a snap to use a JDBC <<<DataSource>>> in a
  servlet container but not a JNDI <<<DirContext>>>? Now it is!

  Most containers support resource management for a webapp through factories by
  implementing {{{http://docs.oracle.com/javase/7/docs/api/javax/naming/spi/ObjectFactory.html}<<<javax.naming.spi.ObjectFactory>>>}}.
  This factory implements the {{{ObjectFactory}}} interface and allows you to use the <<<DirContextSource>>>
  in your webapp but fully managed by your container.

  Contents:

%{toc|fromDepth=2}

* Resource Declaration Examples

  There are two ways to declare a resource in Apache Tomcat: as a global resource
  and then linking into the webapp or as a local resource within an application.

** As a Global Resource

  Navigate in your <<<server.xml>>> to <<</Server/GlobalNamingResources>>> and
  add the following element:

+----------------------------
[$ellipsis]
<GlobalNamingResources>
  <!-- Add this -->
  <Resource name="ldap/name" type="net.sf.michaelo.dirctxsrc.DirContextSource"
    factory="net.sf.michaelo.dirctxsrc.DirContextSourceFactory"
    urls="ldap://hostname ldap://another-hostname" />
</GlobalNamingResources>
[$ellipsis]
+----------------------------

  This resource still needs to be linked to your application. Open or create your
  app's <<<context.xml>>> and add:

+----------------------------
<Context>
[$ellipsis]
  <!-- Add this -->
  <ResourceLink global="ldap/name" name="ldap/localName"
    type="net.sf.michaelo.dirctxsrc.DirContextSource" />
[$ellipsis]
</Context>
+----------------------------

  Now you have successfully linked a global resource to your webapp. It is now
  ready to use.

** As a Local Resource

  If you prefer to keep resources locally, open or create your app's <<<context.xml>>>
  and add:

+----------------------------
<Context>
[$ellipsis]
  <!-- Add this -->
  <Resource name="ldap/localName" type="net.sf.michaelo.dirctxsrc.DirContextSource"
    factory="net.sf.michaelo.dirctxsrc.DirContextSourceFactory"
    urls="ldap://hostname ldap://another-hostname" />
[$ellipsis]
</Context>
+----------------------------

* Using the Resource

  It takes now only a few lines of code to get that resource in your app's code,
  regardless whether it's a global or a local resource.

** From a Regular Webapp

  Open a class and go ahead as follows:

+----------------------------
[$ellipsis]
Context initCtx = new InitialContext();
Context envCtx = (Context) initCtx.lookup("java:comp/env");
DirContextSource contextSource = (DirContextSource) envCtx.lookup("ldap/localName");
// try and catch block omitted for the sake of brevity,
// handle NamingException appropriately
DirContext context = contextSource.getDirContext();
// Perform operations
context.close();
[$ellipsis]
+----------------------------

* Configuration Options

  The factory offers the same configuration properties as the builder class but
  exposes them as XML attributes. I.e., this factory is fully backed by the
  {{{./apidocs/net/sf/michaelo/dirctxsrc/DirContextSource.Builder.html}<<<Builder>>>}}
  class. Due to this fact, please note the following prior setting up a resource:

  [[1]] Though all values are passed as strings, they are preprocessed by the builder
        before building the actual context source. Incompatible values will cause
        an exception to be thrown.

  [[2]] Multivalued attributes may be passed separated by a whitespace character.

  [[3]] Omitted attributes are subject to the default values set by the builder.
        See {{{./apidocs/net/sf/michaelo/dirctxsrc/DirContextSource.html}Javadoc}} for details.

  []

*------------*---------------------*-----------*-----------------*--------------------------*
|| Attribute || Builder Equivalent || Optional || Valid Value(s) || Description             |
*------------+---------------------+-----------+-----------------+--------------------------+
| name       | \u2013              | no        | any string      | A name for this resource relative to <<<java:comp/env>>>. |
*------------+---------------------+-----------+-----------------+--------------------------+
| type       | \u2013              | no        | <<<net.sf.michaelo.dirctxsrc.DirContextSource>>> | Preset class name of this resource. |
*------------+---------------------+-----------+-----------------+--------------------------+
| factory    | \u2013              | no        | <<<net.sf.michaelo.dirctxsrc.DirContextSourceFactory>>> | Preset class name of this resource's factory. |
*------------+---------------------+-----------+-----------------+--------------------------+
| contextFactory | <<<contextFactory(String)>>> | yes       | Any class (name) implementing the <<<{{{http://docs.oracle.com/javase/7/docs/api/javax/naming/spi/InitialContextFactory.html}InitialContentFactory}}>>> interface | See {{{./apidocs/net/sf/michaelo/dirctxsrc/DirContextSource.Builder.html}Javadoc}}. |
*------------+---------------------+-----------+-----------------+--------------------------+
| urls       | <<<Builder(String$ellipsis)>>> | no   | A list of LDAP URLs | See {{{./apidocs/net/sf/michaelo/dirctxsrc/DirContextSource.Builder.html}Javadoc}}. |
*------------+---------------------+-----------+-----------------+--------------------------+
| auth       | <<<auth(Auth)>>>    | yes       | <<<none>>> or <<<gssapi>>> (case-insensitive) | See {{{./apidocs/net/sf/michaelo/dirctxsrc/DirContextSource.Builder.html}Javadoc}}. |
*------------+---------------------+-----------+-----------------+--------------------------+
| loginEntryName | <<<loginEntryName(String)>>> | yes       | any string      | See {{{./apidocs/net/sf/michaelo/dirctxsrc/DirContextSource.Builder.html}Javadoc}}. |
*------------+---------------------+-----------+-----------------+--------------------------+
| objectFactories | <<<objectFactories(String$ellipsis)>>> | yes       | A list of classes (names) implementing either the <<<{{{http://docs.oracle.com/javase/7/docs/api/javax/naming/spi/ObjectFactory.html}ObjectFactory}}>>> or the <<<{{{http://docs.oracle.com/javase/7/docs/api/javax/naming/spi/DirObjectFactory.html}DirObjectFactory}}>>> interface | See {{{./apidocs/net/sf/michaelo/dirctxsrc/DirContextSource.Builder.html}Javadoc}}. |
*------------+---------------------+-----------+-----------------+--------------------------+
| mutualAuth | <<<mutualAuth(boolean)>>> | yes | <<<true>>> or <<<false>>> (boolean) | See {{{./apidocs/net/sf/michaelo/dirctxsrc/DirContextSource.Builder.html}Javadoc}}. |
*------------+---------------------+-----------+-----------------+--------------------------+
| qop        | <<<qop(String$ellipsis)>>> | yes      |  A list of <<<auth>>>, <<<auth-int>>> and/or <<<auth-conf>>> | See {{{./apidocs/net/sf/michaelo/dirctxsrc/DirContextSource.Builder.html}Javadoc}}. |
*------------+---------------------+-----------+-----------------+--------------------------+
| debug      | <<<debug(boolean)>>> | yes      | <<<true>>> or <<<false>>> (boolean) | See {{{./apidocs/net/sf/michaelo/dirctxsrc/DirContextSource.Builder.html}Javadoc}}. |
*------------+---------------------+-----------+-----------------+--------------------------+
| retries    | <<<retries(int)>>>  | yes       | positive integer | See {{{./apidocs/net/sf/michaelo/dirctxsrc/DirContextSource.Builder.html}Javadoc}}. |
*------------+---------------------+-----------+-----------------+--------------------------+
| retryWait  | <<<retryWait(int)>>> | yes      | positive integer | See {{{./apidocs/net/sf/michaelo/dirctxsrc/DirContextSource.Builder.html}Javadoc}}. |
*------------+---------------------+-----------+-----------------+--------------------------+
| binaryAttributes | <<<binaryAttributes(String$ellipsis)>>> | yes      | A list or attribute names | See {{{./apidocs/net/sf/michaelo/dirctxsrc/DirContextSource.Builder.html}Javadoc}}. |
*------------+---------------------+-----------+-----------------+--------------------------+
| referral | <<<referral(String)>>> | yes       | <<<ignore>>>, <<<throw>>> or <<<follow>>> | See {{{./apidocs/net/sf/michaelo/dirctxsrc/DirContextSource.Builder.html}Javadoc}}. |
*------------+---------------------+-----------+-----------------+--------------------------+
| derefAliases | <<<derefAliases(String)>>> | yes       | <<<always>>>, <<<never>>>, <<<finding>>> or <<<searching>>> | See {{{./apidocs/net/sf/michaelo/dirctxsrc/DirContextSource.Builder.html}Javadoc}}. |
*------------+---------------------+-----------+-----------------+--------------------------+
| version    | <<<version(int)>>>  | yes       | <<<2>>>, <<<3>>> (positive integer) | See {{{./apidocs/net/sf/michaelo/dirctxsrc/DirContextSource.Builder.html}Javadoc}}. |
*------------+---------------------+-----------+-----------------+--------------------------+
| connectTimeout  | <<<connectTimeout(int)>>> | yes      | positive integer | See {{{./apidocs/net/sf/michaelo/dirctxsrc/DirContextSource.Builder.html}Javadoc}}. |
*------------+---------------------+-----------+-----------------+--------------------------+
| additionalProperties | <<<additionalProperty(String, Object)>>> | yes  | A list of properties and values | Semicolon-separated name value pairs: <<<name=value;name2=value2;$ellipsis>>>. See {{{./apidocs/net/sf/michaelo/dirctxsrc/DirContextSource.Builder.html}Javadoc}}. |
*------------+---------------------+-----------+-----------------+--------------------------+
