#*
 * Copyright 2013 Michael Osipov
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#

## $Id$

                            ----------------------
                                 User Guide
                            ----------------------
                               Michael Osipov
                            ----------------------
                                 2013-02-01
                            ----------------------

#macro(property $property)${project.properties.get($property)}#end

User Guide

  To make use of this library you must run at least Java #property("maven.compiler.target").

  This site will guide you through the components of this library:

  [[1]] {{{./dircontextsource.html}<<<DirContextSource>>>}}: the main component
        itself for creating a <<<DirContext>>> object with the ease of a builder.

  [[2]] {{{./dircontextsourcefactory.html}<<<DirContextSourceFactory>>>}}:
        a factory which wraps the builder behind the context source and makes it
        available as a resource to servlet containers in a standard fashion.

  []

  Before using this library, make sure that the artifact is in the class path of your Tomcat instance,
  i.e., in <<<$CATALINA_BASE/lib>>> or <<<$CATALINA_HOME/lib>>>.
